/* CSS */
nav {
    background-color: #333;
    color: white;
    padding: 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-image: url('https://th.bing.com/th/id/R.b3222c081f1e5b9d63da81fe6f80b8d2?rik=7Zx59vHs77FUDQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f1%2f5%2fe%2f583758.jpg&ehk=9PWTAIcwfjcqicpWTm%2bmvbiys3WY3KHzV2HbDRg891o%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

.form-container {
    margin-top: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

.form-field {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

input {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}