<nav class="navbar navbar-light bg-transparent header">
    <div class="container-fluid">
        <h1 style="color: alicblue; font-family: 'Pacifico', cursive;">Movie List</h1>
        <div class="d-flex">
            <button (click)="showAddForm()" type="button" class="btn btn-success">Add Movie</button>
            <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>
        </div>
    </div>
</nav>

<div class="movie-container">
    <div class="movie-list" *ngFor="let row of MovieDetails">
        <div class="movie-card">
            <div class="movie-image">
                <img *ngIf="row.PosterURL" [src]="row.PosterURL" alt="{{ row.MovieName }} Poster">
            </div>
            <div class="movie-details">
                <h5 class="movie-name">{{ row.MovieName }}</h5>
                <p class="movie-language">{{ row.MovieLanguage }}</p>
                <div class="buttons">
                    <button (click)="showUpdateForm(row)" class="update-button">Update</button>
                    <button (click)="deleteMovie(row)" class="delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">{{ showAdd ? 'Add Movie' : 'Update Movie' }}</h1> -->
            </div>
            <br />
            <div class="modal-body" *ngIf="showAdd || showUpdate">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Movie Name</label>
                        <input type="text" formControlName="MovieName" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Movie Language</label>
                        <input type="text" formControlName="MovieLanguage" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <!-- Add Poster URL field -->
                    <div class="mb-3">
                        <label for="posterURL" class="form-label">Poster URL</label>
                        <input type="text" formControlName="PosterURL" class="form-control" id="posterURL">
                    </div>
                </form>
            </div>
            <div class="modal-footer" *ngIf="showAdd || showUpdate">
                <button type="button" id="cancel" (click)="cancelForm()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" (click)="postMovieDetails()" class="btn btn-primary">Add
                    Movie</button>
                <button type="button" *ngIf="showUpdate" (click)="updateMovieDetails()"
                    class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>