/* CSS */
nav {
    background-color: #333;
    color: white;
    padding: 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-image: url('https://th.bing.com/th/id/R.b3222c081f1e5b9d63da81fe6f80b8d2?rik=7Zx59vHs77FUDQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f1%2f5%2fe%2f583758.jpg&ehk=9PWTAIcwfjcqicpWTm%2bmvbiys3WY3KHzV2HbDRg891o%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

.form-container {
    margin-top: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

.form-field {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

input {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Reset some default styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Set a background color and center content */
body {
    background-color: #f7f7f7;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: auto;
    font-family: Arial, sans-serif;
}

/* Movie container */
.movie-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

/* Movie card */
.movie-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease;
    flex-wrap: wrap;
    width: 300px;
    flex-direction: column;
    margin: 10px;
}

.movie-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Movie image */
.movie-image img {
    width: 100px;
    height: 150px;
    border-radius: 4px;
    object-fit: fill;
}

/* Movie details */
.movie-details {
    margin-left: 15px;
    flex: 1;
}

/* Movie name */
.movie-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Movie language */
.movie-language {
    font-size: 0.9rem;
    color: #666;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Button style */
.update-button,
.delete-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-button {
    background-color: #4caf50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

/* Button hover effect */
.update-button:hover,
.delete-button:hover {
    background-color: #333;
}