body {
    background-color: rgba(0, 0, 0, 0.158);
}

html {
    background-color: lightgrey;
}

.part1, .part2, .part3 {
    position: absolute;
    margin-top: 6%;
}

.part1 {
    margin-left: 80px;
}

.part2 {
    margin-left: 350px;
    margin-top: 4%;
}

.part3 {
    margin-left: 1000px;
}

.screen {
    margin-top: 10%;
    background-color: rgb(95, 95, 197);
    height: 120px;
    width: 500px;
    transform: rotateX(-48deg);
    box-shadow: inset 0 3px 10px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.screen h3 {
    text-align: center;
}

.box::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 10px;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}

.smallBox::before {
    margin-right: 10px;
}

.greenBox::before {
    background: green;
}

.redBox::before {
    background: red;
}

.emptyBox::before {
    background: #ccc;
}

input[type=checkbox] {
    width: 0;
    margin-right: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    appearance: none;
}

input[type=checkbox]:before {
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    background-color: #ccc;
    transition: background-color 0.3s, font-size 0.3s;
}

input[type=checkbox]:checked:before {
    background-color: green;
    font-size: 15px;
}
